# generic
*.cache
*.directory
*.pyc
*.swp
acarsserver/log/*
!acarsserver/log/.gitkeep
acarsserver/app/assets/img/aircrafts/large/*
!acarsserver/app/assets/img/aircrafts/large/.gitkeep
acarsserver/app/assets/img/aircrafts/thumb/*
!acarsserver/app/assets/img/aircrafts/thumb/.gitkeep
!acarsserver/app/assets/img/aircrafts/thumb/paper_plane.png

# files
acarsserver/db/db.sqlite3
.project
.pydevproject

# folders
__pycache__
.idea
.settings
