# generic
*.cache
*.directory
*.pyc
*.swp
acarsserver/log/*
acarsserver/app/assets/img/aircrafts/*
!acarsserver/app/assets/img/aircrafts/paper_plane.png
!acarsserver/log/.gitkeep
!acarsserver/app/assets/img/aircrafts/.gitkeep

# files
acarsserver/db/db.sqlite3
.project
.pydevproject

# folders
__pycache__
.settings
